* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f0e9b6;
  color: #744577;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#heading {
  color: red;
}

button {
  padding: 10px 20px;
  background: #744577;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s all ease-in-out;

  &:hover {
    background-color: rgb(92, 118, 109);
  }
}

.header {
  background-color: #f0e9b6;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  padding: 10px 30px;
  box-shadow: 3px 5px 5px #0505050d;


  a {
    text-decoration: unset;
    font-size: 50px;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    gap: 20px;
    list-style-type: none;
  }

  li {
    font-size: 18px;
    font-weight: 600;
    list-style-type: none;
  }
}

.body {
  padding: 30px;

  .search {
    input[type="text"] {
      border: none;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 35px;
      margin: 0 0 15px;
      padding: 0 6px;
      font-size: 16px;
      font-weight: 600;
      display: flex;
    }
  }

  .filter {
    margin: 0 0 15px;
  }



  .res-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
    align-items: stretch;

    .res-card {
      &:hover {
        transform: scale(1.02);
        box-shadow: rgb(0 0 0 / 9%) 1px 3px 5px;
        cursor: pointer;
        background-color: #744577 !important; // border: 1px solid green !important;
      }
    }

    .res-logo {
      width: 100%;
      height: 200px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}